@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

  
 * {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  }
  
  /*INIZIO PARTE NAVBAR*/
  header {
    background-color:#2B3044;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 3.5em;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .logo {
    color:white;
    font-size: 20px;
    padding-top: 6px;
    padding-left: 10px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
  }
  
  .navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 20px;
    padding-top: 6px;
  }
  
  .navbar li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar li a:hover {
    color: #FF6464;
    font-weight: bold; 
  }
  
  /*FINE PARTE NAVBAR*/
  
  
  
  /*INSERIMENTO DATI*/
  
  .input {
    color: #fff;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input-border {
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 40px;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .input:focus {
    outline: none;
    color: rgb(63, 63, 63);
  }
  
  
  .form-control {
    position: relative;
    padding-top: 300px;
    padding-left: 40px;
    padding-right: 40px;
    --width-of-input: 300px;
  }
  
  .input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-border-alt {
    height: 3px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
  }
  
  .input-alt:focus + .input-border-alt {
    width: 85%;
  }

   /*FINE*/

    /*INIZIO BOTTONE*/
.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 20px;
}

.button {
  font-size: 16px;
  font-weight: 700;
  color: #FF6464;
  background-color: #2B3044;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 24px;
  position: relative;
  display: flex;
  line-height: 24px;
  border-radius: 9px;
  box-shadow: 0px 1px 2px #2B3044,
    0px 4px 16px #2B3044;
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px)
    rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.sp {
  background: linear-gradient(
      90deg,
      #47C9FF,
      #FF6464,
      #FFBF59
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: transparent;
  display: block;
}

.button:active {
  transition: 0.3s;
  transform: scale(0.93);
}
/*FINE BOTTONE*/



/*LOADING*/
@keyframes loader_5191 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.square {
  background: #2B3044;;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

#sq1 {
  margin-top: -25px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
  margin-top: -25px;
  animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
  margin-top: -25px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
  animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
  margin-top: 15px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
  margin-top: 15px;
  animation: loader_5191 675ms ease-in-out 525ms infinite;
}

#sq9 {
  margin-top: 15px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 600ms infinite;
}


  
  
  
  
  
  
  